body {
  background-color: #710014;
}
@font-face {
  font-family: "Arastin";
  src: url("Arastin\ Pro.ttf") format("truetype");
}
.container1 {
  width: 50vw;
  height: 100vh;
  position: relative;
  left: 50%;
}
.vinyl {
  scale: 0.8;
  position: absolute;
  right: 9%;
  top: 3%;
  display: flex;
}
.tonearm {
  scale: 0.4;
  position: absolute;
  left: 45%;
  top: -30%;
  display: flex;
}

.container2 {
  width: 50vw;
  height: fit-content;
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "Arastin", "serif";
  font-size: 5rem;
  position: relative;
  text-align: center;
  color: #f2f1ed;
}
.blank {
  height: 10vh;
}
h2 {
  font-family: "EB Garamond", serif;
  font-size: 2.5rem;
  position: relative;
  left: 0%;
  text-align: center;
  color: #f2f1ed;
}
.title {
  display: flex;
  text-align: center;
  position: relative;
  left: 10%;
}
h3 {
  font-family: "EB Garamond", serif;
  font-size: 1.2rem;
}
.music-controls {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

.progress-bar {
  width: 50%;
  height: 3px;
  background-color: #f2f1ed;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  left: 10%;
  border-radius: 3px;
  cursor: pointer;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: #161616;
  width: 0;
  transition: width 0.3s ease;
  position: relative;
  left: 0%;
  border-radius: 3px;
}
.music-controls button {
  background-color: transparent;
  border: none;
  color: #f2f1ed;
  cursor: pointer;
  position: relative;
  left: 10%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.music-controls button:hover {
  scale: 0.9;
}

#music-name {
  display: none;
}

.vinyl {
  transition: transform 0.3s ease;
  animation: spin 3s linear infinite;
  animation-play-state: paused;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tonearm {
  transition: transform 0.3s ease;
}
.back {
  scale: 0.85;
  position: relative;
  right: 9%;
  top: 3%;
  box-shadow: 10px 10px 5px #161616;
}
